<div class="container" class="col-lg-4">
  <li> <center> {{#link-to 'blog' blog.id}}{{blog.title}}  {{/link-to}} </center>
    <center> <p class="tiny"> {{blog.author}} </p> </center>
    {{#if isImageShowing }}
       <p><center> <img src={{blog.image}}> </center> </p>
        <center> <button class="btn btn-warning" {{action 'imageHide'}}>Hide image</button> </center>
       {{else}}
        <center> <button class="btn btn-danger" {{action 'imageShow'}}>Show image</button> </center>
    {{/if}}
  </li>
</div>
