<center> <p class="border"> {{blog.title}} </p> </center>
  <br>
  <center> <p> by {{blog.author}}
  <br>
  {{blog.date}}
  <hr>
{{blog.text}} </p> </center>
<br>
<hr>
<center> <button class="btn btn-info" {{action 'delete' blog}}>Delete</button> </center>
