{{#if updateBlogForm}}
  <h4>Update {{Blog.title}} from {{blog.date}}</h4>
    <div>
      <form>
        <div class="fancyButton">
          <button {{action 'update' blog}}>Save</button>
          <button {{action 'cancel'}}>Cancel</button>
        </div>
        <br>
        <div class="form-group">
          <label for="title">title</label>
          {{input value=title id="title"}}
        </div>

        <div class="form-group">
          <label for="author">author</label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="date">date:</label>
          {{input type="date" value=date id="date"}}
        </div>

        <div class="form-group">
          <label for="image">image url:</label>
          {{input value=image id="image"}}
        </div>

        <div class="form-group">
          <label for="text">Text</label>
          {{textarea rows="8" cols="70" value=text id="text"}}
        </div>

      </form>
    </div>
{{else}}
    <button class="btn btn-success" {{action 'updateBlogForm'}}>Update</button>

{{/if}}
