<header class="header" class = "jumbotron">
  <center> <h1>Jake's Blog</h1> </center>

  <img class="stretch" src="assets/images/header.jpg" alt="" />



{{#bs-navbar class='navbar-default navbar-fixed-top'}}
  {{!-- This nested link to allows the active state to work on your menu items --}}
  {{#link-to 'index' tagName='li'}}
  {{link-to 'Home'}}
  {{/link-to}}
  {{#link-to 'about' tagName='li'}}
    {{link-to 'about'}}
  {{/link-to}}
  {{#link-to 'contact' tagName='li'}}
    {{link-to 'contact'}}
  {{/link-to}}

{{/bs-navbar}}


<div class="bloglist">
    {{#rl-dropdown-container class="dropdown"}}
    {{#rl-dropdown-toggle class="btn btn-default"}}
      Blog List <span class="caret"></span>
    {{/rl-dropdown-toggle}}

    {{#rl-dropdown tagName="ul" class="dropdown-menu" closeOnChildClick="a:link"}}
      <li> {{#link-to 'index' tagName='li'}}
        {{link-to 'All Blogs'}}
      {{/link-to}}    </li>

      <li> {{#link-to 'blog' 0 tagName='li'}}
        {{link-to 'entry 1'}}
      {{/link-to}}    </li>
      <li> {{#link-to 'blog' 1 tagName='li'}}
        {{link-to 'entry 2'}}
      {{/link-to}}    </li>
      <li> {{#link-to 'blog' 2 tagName='li'}}
        {{link-to 'entry 3'}}
      {{/link-to}}    </li>
    {{/rl-dropdown}}
  {{/rl-dropdown-container}}
</div>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  <center> {{#link-to 'index'}} HOME {{/link-to}}||{{#link-to 'about'}} ABOUT {{/link-to}} || {{#link-to 'contact'}} CONTACT {{/link-to}}  </center>
</footer>
